@font-face {
  font-family: 'ethnocentric_rg';
  src: url('/fonts/ethnocentric_rg.woff2') format('woff2'),
       url('/fonts/ethnocentric_rg.woff') format('woff');
}
body {
  font-family: 'ethnocentric_rg'
}
